<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="NetTally.Quests" type="NetTally.QuestsSection, NetTally" allowExeDefinition="MachineToLocalUser" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
    </assemblyBinding>
  </runtime>
</configuration>
